
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'roboto';
    background-color: #cccc;
}

/*-- Header Styling --*/
.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 1em;
    color: #fff;
    background: #6d7463;
}

/*-- Main Section Styling --*/
/*-- task styling --*/
.task-input{
    padding: 2%;
    border-bottom: #b4b4b2 0.5px solid;
}
.task-input #task-input{
    padding: 1%;
    width: 100%;
    border: none;
    background: transparent;
}
::placeholder{
    font-size: 1.2em;
    color: #292929;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 25px;



}
.footer a{
    text-decoration: none;


}
#coffee-btn{
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: transparent; 

}

.coffee-button{

    
    width: 50%;
    margin: auto;
    background-color: green;
}

@media only screen and (min-width: 1024px){
    #coffee-btn{
        width: 100%;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background: transparent; 
    
    }
    
    .coffee-button{
    
        
        width: 20%;
        margin: auto;
        background-color: green;
    }
}

